#
# .gitignore
#

dev.hs
.DS_Store
_build

##
# Emacs backup, temp and lock files. (my vim setup
# causes tmp and bkp files to be stored elsewhere).
#
*~
\#*\#
.\#*

node_modules

##
# Drawio backup files.
#
*.drawio.svg.bkp
