html {
  font-family: sans-serif;
}

body {
  width: 70%;
  max-width: 960px;
  margin: 20px auto;
}

button {
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
}

div {
  height: 100px;
  border: 1px solid black;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button:nth-of-type(3) {
  align-self: end;
}

