##
# PostgreSQL image uses trust auth for local by default.
# For local, the password isn't necessary, but it is from
# different hosts trying to access this container.
#
POSTGRES_USER = some-user
POSTGRES_PASSWORD = s3cr37

PGADMIN_DEFAULT_EMAIL = foo@example.com
PGADMIN_DEFAULT_PASSWORD = s3cr37
PGADMIN_DISABLE_POSTFIX = "true"
PGADMIN_CONFIG_SERVER_MODE = "false"
